.navbar
{
border-style: groove;
list-style-type: none;  
margin: 0;  
padding: 0px;  
overflow: hidden;  
background-color: lightgray;  
font-family: cursive;
}
.navbarMenu
{
    
}
.navbarItem
{
list-style: none;
display: inline;
margin-left: 15px;
}


.navbarLink
{
    text-decoration: none;
}

.navbarIcon
{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    
}
.navbarItemIcon
{
    
        list-style: none;
        display: inline;
        margin-right: 15px;
        
        
}